# {
# 	debug
# 	log {
# 		format console
# 	}
# }

# Add subdomains with wildcard ceritifcate: https://caddyserver.com/docs/caddyfile/patterns#wildcard-certificates
# Caddy example Nextcloud + Collabora: https://caddy.community/t/caddy-reverse-proxy-nextcloud-collabora-vaultwarden-with-local-https/12052
# OVH Plugin: https://github.com/caddy-dns/ovh
# Creates OVH Token: https://github.com/libdns/ovh#authenticating
*.{env.DOMAIN} {env.DOMAIN} {
	tls {
		dns ovh {
			endpoint {env.OVH_ENDPOINT}
			application_key {env.OVH_APPLICATION_KEY}
			application_secret {env.OVH_APPLICATION_SECRET}
			consumer_key {env.OVH_CONSUMER_KEY}
		}
	}

	@nextcloud host {env.NC_SUBDOMAIN}.{env.DOMAIN}

	@office {
		host {env.OFFICE_SUBDOMAIN}.{env.DOMAIN}
		path /browser/* # Loleaflet is the client part of LibreOffice Online
		path /hosting/discovery # WOPI discovery URL
		path /hosting/capabilities # Show capabilities as json
		path /cool/* # Main websocket, uploads/downloads, presentations
	}


	handle @nextcloud {
		root * /var/www/html
		file_server
		php_fastcgi @nextcloud 127.0.0.1:9000 {
			env front_controller_active true
		}

		header {
			# enable HSTS
			# Strict-Transport-Security max-age=31536000;
		}

		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301

		# .htaccess / data / config / ... shouldn't be accessible from outside
		@forbidden {
			path /.htaccess
			path /data/*
			path /config/*
			path /db_structure
			path /.xml
			path /README
			path /3rdparty/*
			path /lib/*
			path /templates/*
			path /occ
			path /console.php
		}

		respond @forbidden 404
	}

	handle @office {
		reverse_proxy @office https://127.0.0.1:9980 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
	}

	handle {
		abort
	}
}
